body{
    background-color: rgb(58, 58, 58);
}

*{
    color: white;
}

#en-tete{
    border: 3px solid rgb(245, 161, 4);
    padding-bottom: 20px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 1px rgb(245, 161, 4);
    font-weight: bold;
}

.slogan{
    display: flex;
    justify-content: center;
}

.slogan p{
    font-size: 35px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

#radio{
    display: flex;
    justify-content: center;    
}

#radio button{
    width: 200px;
    height: 40px;
    font-size: 15px;
}

.color{
    background-color: black;
    color: rgb(255, 217, 0);
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgb(255, 156, 43);
    font-weight: bolder;
}

.mb-3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-label{
    margin-right: 5px;
}

.form-control{
    background-color: black;
}
#drink-section img{
    width: 100px !important;
    height: 100px;
    margin: 0;
}

#drink-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-top: 30px;
}

.card-random{
    display: grid;
    border: 4px double rgb(245, 161, 4);
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 5px;
    max-width: 300px;
    align-self: flex-start;
    justify-self: center;
    justify-items: center;
    padding: 10px;
    padding-top: 5px;
    margin-top: 10px;
}


.card-name{
    display: grid;
    border: 4px double rgb(245, 161, 4);
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 5px;
    max-width: 300px;
    align-self: flex-start;
    justify-self: center;
    justify-items: center;
    padding: 10px;
    padding-top: 5px;
}

#instruction-card{
    display: flex;
    border: 2px solid rgb(255, 166, 0);
    border-radius: 10px;
    margin: 7px;
    padding: 4px;
    text-align: center;
    align-content:stretch;
}

.modal{
    background-color : white; 
    color: black;
}



/* ---------------- COULEURS ------------------*/
h1{
    color: rgb(255, 156, 43);
    text-align: center;
    font-size: 40px;
    font-family: 'Tapestry', cursive;
    letter-spacing: 3px;
}
h2{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 166, 0);
    max-width: 193.5px;
}


.ingredient{
    font-size: 20px;
}



/* ----------------- POLICE TÉLÉCHARGÉS ------------------- */

/* font-family: 'Tapestry', cursive; */
/* /* font-family: 'Caveat', cursive; */